@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: "Quicksand", sans-serif;
}

img {
  width: 2.5em;
  margin-right: 0.2em;
  padding-bottom: 0.5em;
}

.form-control {
  font-family: "Ubuntu Mono", monospace;
  font-size: large;
}

button {
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(:active) {
  outline: 0;
  box-shadow: none;
}

#def-menu-button {
  padding: 0 3px;
  font-size: 22px;
}

svg text {
  font-family: "Brygada 1918", serif;
}

svg {
  max-width: 100%;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

#term-input {
  flex-grow: 1;
}

#graph-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#graph-buttons .btn {
  padding: 0.1rem 0.75rem;
}

#graph-buttons .btn:focus{
  outline: none;
}

.btn.disabled {
  color: #9d9d9d;
  border-color: #9d9d9d;
  box-shadow: none;
}

.alert {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

#graph-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 10px;
}

#def-graph-container {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

#definitions:first-child {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea:not(.is-invalid) {
  border: 0;
}

#github-link {
  position: fixed;
  bottom: 4px;
  right: 10px;
  font-size: 25px;
}

#github-link:link, #github-link:visited {
  color: black;
}

#github-link:hover {
  color: dimgray;
}