@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: "Quicksand", sans-serif;
}

img {
  width: 2.5em;
  margin-right: 0.2em;
  padding-bottom: 0.5em;
}

.form-control {
  font-family: "Ubuntu Mono", monospace;
  font-size: large;
}

button {
  white-space: nowrap;
}

button:focus:not(:focus-visible):not(:active) {
  outline: 0;
  box-shadow: none;
}

svg text {
  font-family: "Brygada 1918", serif;
}

svg {
  max-width: 100%;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

#term-area {
  flex-grow: 1;
}

#graph-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#graph-buttons .btn {
  padding: 0.1rem 0.55rem;
}

#graph-buttons .btn :focus{
  outline: none;
}

.btn.disabled {
  color: #9d9d9d;
  border-color: #9d9d9d;
  /* outline: none; */
  box-shadow: none;
}

.alert {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

#graph-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 10px;
}

#def-graph-container {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

#definitions:first-child {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}