@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');

body {
  margin: 10px;
}

h1 {
  font-family: "Quicksand", sans-serif;
}

img {
  width: 3em;
  margin-right: 0.5em;
  padding-bottom: 0.5em;
}

button {
  margin: 3px 0px;
  white-space: nowrap;
}

svg text {
  font-family: "Brygada 1918", serif;
}

#form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px;
  gap: 5px;
}

#input-area {
  flex-grow: 1;
}

input.form-control {
  padding: 10px;
}

#graph-buttons {
  display: flex;
  justify-content: center;
}

#graph-buttons .btn {
  padding: 0.1rem 0.75rem;
}

#control-bar {
  position: sticky;
  top: 5px;
}

.btn:disabled {
  color: #6c757d;
  border-color: #6c757d;
}